<!-- included headers of html-->
<%- include("./partials-user/header.ejs") %>

    <body class="blogs_body">
        <!-- included main navigation bar-->
        <%- include("./partials-user/navbarMain.ejs") %>


            <div class="Blogs_div1">

                <h3 class="ui center aligned header">Posts</h3>
                <hr class="new1">
                <div class="ui relaxed divided list">
                    <%  for(let i = 0; i < data.posts.length; i++){ %> 
                        <div class="item">
                            <i class="large github middle aligned icon"></i>
                            <div class="content">
                                <a href="/blog-post?bid=<%= data.posts[i].b_id %>&uid=<%= data.posts[i].user_id %>" class="header"><%= data.posts[i].title %> </a></br>
                                <p><%= data.posts[i].body.slice(0, 157) %>... <a  href="/blog-post?bid=<%= data.posts[i].b_id %>&uid=<%= data.posts[i].user_id %>">more...</a></p>
                                <div class="description">Posted By: <%= data.posts[i].user_name %> </div>
                                <div class="description">Posted: <%= data.posts[i].post_time %> </div>
                            </div>
                            <br>
                        </div>
                        <% } %> 
                </div>
            </div>
            <div class="Blogs_div3" style="justify-items: left;">
                <button class="ui inverted secondary button"><h3>Check All Recent Posts</h3></button> <br>
                <button class="ui inverted secondary button">All Posts</button> <br>
                <button class="ui inverted secondary button">Relevant Posts</button> <br>
                <button class="ui inverted secondary button">Most Viewed</button> <br>

            </div>
    </body>

    </html>