<%- include("../partials-user/header.ejs") %>

    <body class="about_body">
        <!-- included main navigation bar-->
        <%- include("../partials-user/navbarMain.ejs") %>

            <%- include("../partials-user/navbarProfile.ejs") %>

                <div class="about_div1">
                    <div style="padding-left:16px">
                        <br>
                        <h3 class="ui center aligned header">About Me </h3>
                        <hr class="new1">
                        
                        <div class="ui three column grid container">
                            <div class="column">
                                <div class="ui segment">Name: <br> <pre><%= data.user[0].first_name + " " + data.user[0].last_name%> </pre></div>
                            </div>
                            <div class="column">
                                <div class="ui segment">Birthday: <pre><%= data.dateFormat(data.user[0].dob, "mmmm dS, yyyy") %> </pre></div>
                            </div>
                            <div class="column">
                                <div class="ui segment">I call Myself: <br> <pre><%= data.user[0].interest %> </pre></div>
                            </div>
                            <div class="column">
                                <div class="ui segment">Website: <br> <pre><% if(data.socialLinks[0].website == null){ %>No website <% }else{ %><%= data.socialLinks[0].website %>  <% } %> </pre></div>
                            </div>
                            <div class="column">
                                <div class="ui segment">Email: <br> <pre><%= data.user[0].user_email %> </pre></div>
                            </div>
                            <div class="column">
                                <div class="ui segment">Linkedin: <br> <pre><% if(data.socialLinks[0].linkedin == null){ %>No Linkedin <% }else{ %><%= data.socialLinks[0].linkedin %>  <% } %> </pre></div>
                            </div>
                        </div>
                    </div>
                    <hr class="new1">
                    <div class="divInside">
                        <br>
                        <h4>I am a successfull <%= data.user[0].interest %> </h4>
                        <p style="color: navy;text-indent: 30px; "><% if(data.user[0].about_me == null){ %>You have not written anything about yourself <% }else{ %><%= data.user[0].about_me %>  <% } %> </p>
                        

                    </div>

                </div>
                <div class="about_pic_div3">
                    <img src="<% if(data.user[0].user_img == null){ %>/user/images/default.jpg<% }else{ %>/user/<%= data.user[0].user_img %>  <% } %>" alt="about" width="300px" height="300px">
                    <h3><%= data.user[0].user_name %> </h3>
                    <p><%= data.user[0].name %></p>
                    <p><%= data.user[0].currency %>Tk</p>
                    <a href="/profile/payment">Make Payment</a>

                    <form action="/upload-profile" enctype="multipart/form-data" id="dp" style="visibility: hidden;" method="POST"><input type="file" name="profile" id="" required><input type="submit" value="Save"></form>
                    <button style="background-color: #4CAF50;
                    color: white;
                    padding: 12px 20px;
                    border: none;
                    cursor: pointer;" onclick="showOpt()">Change DP</button>
                    <a href="/profile/about-edit"><button style="background-color: #4CAF50;
                    color: white;
                    padding: 12px 20px;
                    border: none;
                    cursor: pointer;">Edit Profile</button></a>
                </div>
                
    </body>

    </html>
    <script>
        function showOpt(){
            let dp = document.querySelector("#dp");
            if(dp.style.visibility == "visible"){
                dp.style.visibility = "hidden";
            }
            else{
                dp.style.visibility = "visible";
            }
        }
    </script>