<%- include("../partials-user/header.ejs") %>

<style>
    label {
    float: left
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}
input {
    width: 100%;
    
}
</style>

    <body class="resume_body" style="background-color: #f1f1f1;">
        <!-- included main navigation bar-->
        <%- include("../partials-user/navbarMain.ejs") %>

            <%- include("../partials-user/navbarProfile.ejs") %>

                <div style="font-family: 'Times New Roman', Times, serif;font-size: 17px;
    position: absolute;
    text-align: left;
    top: 22%; left: 3%;">

    <form style="display: inline;float: left;">
        <a href="/profile/editResume?id=<%= data.id %>">Edit</a><br>
  

            <label for="test">Address </label>
            <span><input readonly name="address" id="test" type="text" value="<%= data.contact[0].adress %>"/></span>

            <label for="test">Phone </label>
            <span><input readonly name="phone" id="test" type="text" value="<%= data.contact[0].phone %>"/></span>

            <label for="test">Email </label>
            <span><input readonly name="email" id="test" type="text" value="<%= data.contact[0].email %>"/></span>

            Hard Skills<table class="table_">
                <tbody class="calibre2">
                    <tr class="calibre3">
                        <td class="td_">
                            <ul class="list_">
                                <% if(data.hardSkills.length == 0){ %> 
                                <li class="block_6"><span>No skills added</span></li>
                                <% }else{ for(let i = 0; i < data.hardSkills.length; i++){ %>
                                    <li class="block_6"><span><%= data.hardSkills[i].skill %> </span></li>

                                   <!-- <% var str = str + data.hardSkills[i].skill; %> -->
                                <% } } %> 
                                <!-- <p><%  str %></p> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

           Soft Skills</b>
                    <table class="table_">
                        <tbody class="calibre2">
                            <tr class="calibre3">
                                <td class="td_">
                                    <ul class="list_">
                                        <% if(data.softSkills.length == 0){ %> 
                                        <li class="block_6"><span>No skills added</span></li>
                                        <% }else{ for(let i = 0; i < data.softSkills.length; i++){ %>
                                            <li class="block_6"><span><%= data.softSkills[i].skill %> </span></li>
                                        <% } } %> 
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <b>Experience:</b>
                    <% if(data.experience.length == 0){ %>
                        <p>You have no  Experience</p>    
                    <% }else{ for(let i = 0; i < data.experience.length; i++){ %>
                        <p>Organization: <%= data.experience[i].org_name %> <br> 
                            <%= data.experience[i].designation %> </b><span> - <%= data.dateFormat(data.experience[i].start_year, "mmmm dS, yyyy"); %> to <% if(data.experience[i].end_year == null){ %> Present <% }else{ %><%= data.dateFormat(data.experience[i].end_year, "mmmm dS, yyyy")%><% } %> </span></p>
                    
                    <% } } %>



                    <% if(data.edu.length == 0){ %> <p>No Education history</p> <% }else{for (let i = 0; i < data.edu.length; i++) {%>
                        <br>  
                        <b>Education</b> <br>
                        <span lang="en"> <%= data.edu[i].edu_type %>  : <b><%= data.edu[i].edu_name %> </b></span>
                        <br>Certificate: <b><%= data.edu[i].certificate %> </b>
                        <br>
                        <span>Years Active:</span>
                        <span lang="en"> <%= data.dateFormat(data.edu[i].start_year, "mmmm dS, yyyy")%>- <%= data.dateFormat(data.edu[i].end_year, "mmmm dS, yyyy")%></span>
                        <p>Result: <%= data.edu[i].result %> </p>
                        <p></p>
                        
                        <% }} %> 
    </form>

                  

                </div>
                

    </body>
    
  

    </html>