<!-- included headers of html-->
<%- include("../partials-user/header.ejs") %>

    <body class="blogs_body">
        <!-- included main navigation bar-->
        <%- include("../partials-user/navbarMain.ejs") %>


            <div class="Blogs_div1">

                <h3 class="ui center aligned header">Posts</h3>
                <hr class="new1">
                <div class="ui relaxed divided list">
                    <form action="/works-edit" method="post">
                        <input type="hidden" name="pid" value="<%= data.posts[0].p_id %>">
                        Title : <input type="text" name="title" id="" value="<%= data.posts[0].title %> " placeholder="Enter title">
                        <textarea name="body" id="" cols="30" rows="10" placeholder="Write something about your project"><%= data.posts[0].body %> </textarea>
                        Link : <input type="text" name="link" id="" value="<%= data.posts[0].link %> "  placeholder="Enter project link">
                        <input type="submit" value="Post">
                    </form>
                </div>
            </div>
            <!-- <div class="Blogs_div3" style="justify-items: left;">
                <button class="ui inverted secondary button"><h3>Check All Recent Posts</h3></button> <br>
                <button class="ui inverted secondary button">All Posts</button> <br>
                <button class="ui inverted secondary button">Relevant Posts</button> <br>
                <button class="ui inverted secondary button">Most Viewed</button> <br>

            </div> -->
    </body>

    </html>